body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

/* Navbar */
.nav-wrapper {
  margin-bottom: 5%;
}

/* Sign up and sign in */
.signIn {
  margin-top: 100px;
}

.signUp {
  margin-top: 50px;
}

.signIn .card,
.signUp .card {
  background: rgba(0, 0, 0, 0.6);
}

.signIn label,
.signUp label {
  font-size: 1rem;
  color: #ccc;
}

.signIn input,
.signUp input {
  font-size: 22px;
  color: white;
}

.signIn .form-field {
  margin-bottom: 1.5rem;
}

.info {
  box-sizing: border-box;
  text-align: center;
  margin: 2rem;
}

/* Dashboard */
.card {
  color: black;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating),
.card-action span {
  color: orange;
  margin-right: 24px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
